.members {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
	padding: 20px;
}

.member {
    text-align: center;
}

.memberInfo {
	text-align: center;
}

.memberName {
	margin: 1em 0;
}

.memberRole {
	margin-top: 1em;
	text-transform: uppercase;
	font-weight: 700;
}

@media (max-width: 992px) {
	.members {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {
	.members {
		grid-template-columns: 1fr;
        gap: 60px;
	}
}

@media (max-width: 576px) {
	.memberImg img {
		width: 150px;
	}
	
}