.quality {
	background-color: var(--color-background-darker);
	width: 100%;
	padding: 3rem 2rem;
}

.qualityHeading {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-grow: 1;
	gap: 0.5rem;
	margin-bottom: 4rem;
	letter-spacing: 0.1rem;
}

.qualityContent {
	display: flex;
	align-items: center;
	justify-content: center;
    gap: 3em;
}

.qualityImg img {
    width: 450px;
}

.qualityInfo {
    padding: 2em;
}

.qualityInfo h3, p {
    margin-bottom: 1em;
}

.qualityInfo h3 {
    font-size: 1.5rem;
}

.qualityInfo p {
    font-size: 1.25rem;
}
