.card {
	position: relative;
	height: 400px;
	width: 300px;
	padding: 1em 2em;
	gap: 1em;
	background-color: var(--color-card-background);
	text-align: center;
	border: 2px solid var(--color-dark);
	border-radius: 8px;
	transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
}

.cardFront,
.cardBack {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition: opacity 0.2s;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 15px rgba(166, 139, 40, 0.2);
	border: 2px solid var(--color-gold);
}

.card:hover .cardFront {
	opacity: 0;
}

.cardBack {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 1em;
	text-align: center;
	opacity: 0;
	transition: opacity 0.2s;
}

.card:hover .cardBack {
	opacity: 1;
}

.image {
	width: 150px;
	margin: 1.5em 0 3em 0;
}

.fide {
	margin: 1em 0 0.5em 0;
}

.fide,
.title {
	font-size: 1.1rem;
}

.description {
	font-size: 1rem;
	margin-top: 1em;
}

.imageBack {
	width: 100px;
	margin-bottom: 1.5em;
}

.nameBack,
.fideBack,
.titleBack {
	color: var(--color-gold);
	margin-bottom: 0.25em;
}

.titleBack {
	margin-bottom: 2em;
	text-transform: uppercase;
}
