.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.75rem;
}

@media (max-width: 1024px) {
	.logo img {
		width: 80px;
	}

	.logo h3 {
		font-size: 1rem;
	}
}

@media (max-width: 576px) {
	.logo img {
		width: 50px;
	}

}

