.knowUs {
	background-color: var(--color-background-darker);
	width: 100%;
	padding: 3rem 2rem;
}

.knowUsHeading {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-grow: 1;
	gap: 0.5rem;
	margin-bottom: 4rem;
	letter-spacing: 0.1rem;
}

.knowUsContent {
	display: flex;
	align-items: center;
	justify-content: center;
}

.knowUsContentInfo {
	width: 50%;
}

.knowUsContentInfo p {
	font-size: 1.1rem;
	margin-bottom: 1em;
	line-height: 1.5em;
}

.knowUsContentInfo h3 {
	font-size: 1.4rem;
	margin: 1em 0 0.75em 0;
}

.knowUsContentInfo span {
	font-weight: bold;
}

@media (max-width: 1200px) {
	.knowUsContentInfo {
		width: 100%;
		margin-bottom: 3em;
	}

	.knowUsContentInfo p:last-of-type {
		margin-bottom: 3em;
	}

	.knowUsContent {
		flex-direction: column;
	}
}

@media (max-width: 768px) {
	.knowUsContentInfo p:last-of-type {
		margin-bottom: 0;
	}

	.knowUsContentTrainers {
		text-align: center;
	}
}

@media (max-width: 576px) {
	.knowUsHeading {
		width: 100%;
		margin-bottom: 1.5rem;
	}
	.knowUsHeading h2 {
		font-size: 1.3rem;
	}
	.knowUsHeading svg {
		width: 50px;
	}

	.knowUsContentInfo h3 {
		font-size: 1.2rem;
		text-align: center;
		margin: 2rem 0 1rem 0;
	}
	.knowUsContentInfo span {
		font-size: 1.1rem;
	}

	.knowUsContentInfo p {
		text-align: center;
		font-size: 1rem;
		line-height: 1.8rem;
	}
}
