.courseDescription {
	width: 100%;
	background-color: var(--color-dark);
	padding: 3rem 2rem;
}

.courseDescription h3 {
	font-size: 1.4rem;
	letter-spacing: 0.05em;
	margin-bottom: 1em;
	text-transform: uppercase;
}

.description,
.offer,
.learning,
.courseAppearance,
.courseCreator {
	margin-bottom: 5em;
}

.paragraph {
	font-size: 1.1rem;
	line-height: 1.5em;
	margin-bottom: 1em;
}

.offerItems {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 3rem;
	justify-content: center;
}

.learningContainer {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 3rem;
	justify-content: center;
}

.courseAppearanceContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6em;
}

.courseAppearanceImage img {
	width: 500px;
}

.courseAppearanceInfo p {
	font-size: 1.1rem;
	margin-bottom: 1em;
	line-height: 1.5em;
}

.creatorInfo {
	font-size: 1.1rem;
	line-height: 1.5em;
	margin-bottom: 2em;
}

.creator span {
	font-weight: 700;
}

.buyCourse {
	text-align: center;
}

.buyCourse p {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--color-gold);
	margin-bottom: 1em;
}

@media (max-width: 1200px) {
	.courseAppearanceContainer {
		flex-direction: column;
		gap: 2em;
	}
}
@media (max-width: 768px) {
	.courseAppearanceImage img {
		width: 400px;
	}
}

@media (max-width: 576px) {
	.courseAppearanceImage img {
		width: 300px;
	}

	.courseAppearanceContainer {
		flex-direction: column;
		gap: 1em;
	}
}