.rules {
	background-color: var(--color-background);
	width: 100%;
	margin-top: 100px;
	padding: 3rem 2rem;
}

.rules h2 {
	margin-bottom: 2rem;
	text-align: center;
}

.rules p {
	font-size: 1.1rem;
	line-height: 1.8rem;
	margin-bottom: 1.8em;
}

.paragraph h3 {
	margin: 3rem 0 2rem 0;
}

.paragraph p {
	margin-bottom: 1.5em;
}

.paragraph span {
	font-weight: 700;
}
