.header {
	width: 100%;
	margin-top: 100px;
	background-color: var(--color-background-darker);
}

.headerContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	gap: 2rem;
}

.headerContentInfo {
	max-width: 50%;
}

.headerText {
	max-width: 50%;
	line-height: 2rem;
}

.headerText h2 {
	font-size: 2rem;
	margin-bottom: 1.5rem;
}

.headerText h3 {
	margin-bottom: 1.5rem;
}

.headerText p {
	font-size: 1.25rem;
	margin-bottom: 2rem;
}
.headerImg img {
	width: 400px;
	height: auto;
	display: block;
}

@media (max-width: 1200px) {
	.headerText h2 {
		font-size: 1.75rem;
	}
}

@media (max-width: 1024px) {
	.headerText h2 {
		font-size: 1.5rem;
	}
	.headerText h3 {
		font-size: 1.1rem;
	}

	.headerText p {
		font-size: 1rem;
	}
	.headerImg img {
		width: 350px;
	}
}

@media (max-width: 768px) {
	.headerContent {
		flex-direction: column;
	}

	.headerText {
		max-width: 100%;
		text-align: center;
	}
	.headerImg {
		order: -1;
	}

	.header img {
		width: 300px;
	}
}
