.desktopNavList {
	display: flex;
	gap: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 1.3rem;
    font-weight: 500;
}

.desktopNavLink {
	padding: 0.25rem;
	transition: color 0.3s;
}

.desktopNavLink:hover {
	color: var(--color-gold);
}
