.trainers {
	display: flex;
	margin-bottom: 2em;
}

.trainersImg {
	display: flex;
	align-items: center;
	justify-content: center;
}

.trainersImg img {
	width: 45%;
}

.trainersName {
	margin-bottom: 0.75em;
}

.trainersDetails {
	display: flex;
	text-align: center;
	gap: 2em;
}
