.contact {
	background-color: var(--color-background);
	width: 100%;
	padding: 3rem 2rem;
}

.contactHeading {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-grow: 1;
	gap: 0.5rem;
	margin-bottom: 4rem;
	letter-spacing: 0.1rem;
}

.contactInfo {
	font-size: 1.1rem;
	text-align: center;
	margin-bottom: 3rem;
}
.contactInfo p {
	margin-bottom: 0.5em;
}

.contactForm {
	display: flex;
	align-items: center;
	justify-content: center;
}
